<div class="dashboard">
  <meta name="turbolinks-cache-control" content="no-cache">
  <!-- Lodash is used to order the cards by updated_at -->
  <script src="https://cdn.jsdelivr.net/lodash/4.17.2/lodash.min.js"></script>
  <%= react_component 'App', { plants: @plants, water: @water_events } %>
</div>
