<% @title="Dashboard" %>
<body class="dashboard">
  <%= javascript_pack_tag 'application' %>
  <%= react_component "DashboardContainer", { plants: @plants, waterEvents: @water_events }, prerender: false %>
</body>
