<% @title="Home" %>
<body class="welcome">
  <div class="container main-container">
    <div class="row">
      <div class="six columns">
          <div id="landing-summary">
            <div class="landing-header">Helping you, help plants.</div>
            <p>You don’t have to be blessed with a green thumb to keep houseplants alive and thriving. Let Plantia keep track of your houseplants and their watering schedules.</p>
          </div>
      </div>
      <div class="five columns">
        <div id="signup-usermsg">
          <% if current_user %>
            <div id="landing-welcome">
              <div class="landing-header">Welcome, <%= current_user.name %>.</div>
              <p>
                Head to your <%= link_to 'Dashboard', dashboard_index_path, 'data-turbolinks': 'false' %> to take a look at the status of your plants.
                Or pop on over to <%= link_to 'My Plants', plants_path %> to view a list of all your current plants.
              </p>
                <p>
                <% if session[:subscribed] != true %>
                  You aren't currently subscribed to push notifications on this device.
                <% else %>
                  You're currently subscribed to push notifications on this device.
                <% end %>
                  <br />
                  Manage your notification preferences <%= link_to 'here', profile_path %>.
                </p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</body>
