<div class="row">
  <tr>
    <td>
      <h5><%= plant.nickname %></h5>
      <p><%= plant.common_name %></p>
    </td>
    <td>
      <%= plant.light %>
    </td>
    <td>
      <%= plant.water_freq %>
    </td>
  </tr>
</div>