

<div class="plant">
  <dl class="dl-horizontal">
    <dd><%= plant.nickname %></dd>
    <dd>Type: <%=plant.common_name%></dd>
    <dd>Light requirements: <%=plant.light%></dd>
    <dd>Water every <%=plant.water_freq%> days</dd>
  </dl>
</div>

