<div class="container">

  <h1>See And Create Plants!</h1>
  <div class="row" id="action-buttons">
    <div class="three columns">
      <%= button_to 'Water All', '/waterall', method: 'post', remote: true %>
    </div>
    <div class="three columns">
      <%= link_to '+ New Plant', new_plant_path, class: 'button' %>
    </div>
    <div class="three columns">
Here

    </div>
    <div class="message0"></div>
  </div>

  <div class="panel panel-default plants">

    <table class="u-full-width">
        <tr>
          <th>Water Me</th>
          <th>Plant</th>
          <th>Light Requirements</th>
          <th>Water Needs</th>
          <th>Dead</th>
        </tr>
      <tbody>
          <%= render @plants %>
      </tbody>
    </table>

  </div>

</div>
