@import "vars";

a {
  text-decoration: none;
  color: #008319;
}

a:hover {
  color: #81C784;
}

.button {
  color: #ffffff;
  background-color: $primary-color;
  transition: 200ms ease-in-out;
  box-shadow: 0px 3px 10px #bbb;
  border: none;
}

.button:hover {
  color: #ffffff;
  background-color: $accent-color;
  transform: translateY(-2px);
  box-shadow: 0px 5px 13px #888;

}

body {
  padding-top: ($nav-height + 15px);
  font-family: 'Ubuntu', sans-serif;
  /*font-family: 'Lato', sans-serif;*/
  @media screen and (max-width: 640px) {
    padding-top: ($nav-height + 40px);
  }
}

%error {
  width: 30%;
  padding: 4px;
  margin: 0 auto;
  border-radius: 5px;
  color: white;
  text-align: center;
}

.notice {
  @extend %error;
  background: $primary-color;
}

.alert {
  @extend %error;
  background-color: #E94B35;
}
