@import 'vars';

#navbar {
  top: 0;
  right: 0;
  left: 0;
  background: $secondary-color;
  height: $nav-height;
  position: fixed;
  z-index: 999;
  margin-bottom: 50px;
  box-shadow: 0px 2px 5px #888888;

  .input {
    height: 2.1em;
    font-size: 1em;
  }
  .button-default {
    height: 3.3em;
    line-height: 4px;
    padding: 8px;
    color: #616161;
    background-color: #fff;
    font-weight: lighter;
  }
}


#brand {
  display: inline-block;
  font-size: 2.2em;
  padding: 5px 15px;
#logo {
    height: auto;
    width: 50px;
    float: left;
    padding: 0px 8px;
}
  a {
    color: #fff;
  }
}

#URLS {
  position: relative;
  display: inline-block;
  font-size: 20px;
  padding: 1px;

  a {
    color: #fff;
  }
  a:hover {
    color: $primary-color;
  }
}
.login {
  line-height: 3.5em;
  font-size: 1.1em;
  margin-right: 20px;

}
.userfunc {
  line-height: 2.4em;
  font-size: 11.1em;
  margin-right: 40px;
  color: #333;
  font-size: 25px;
  a {
    color: #fff;
  }
  a:hover {
    color: $primary-color;
  }
}
