@import 'vars';

#navbar {
  top: 0;
  right: 0;
  left: 0;
  background: $primary-color;
  height: $nav-height;
  position: fixed;
  z-index: 999;
  margin-bottom: 50px;
  box-shadow: 0px 2px 5px #888888;

  .input {
    height: 2.1em;
    font-size: 1em;
  }
  .button-default {
    height: 3.3em;
    line-height: 4px;
    padding: 8px;
    color: #616161;
    background-color: #fff;
    font-weight: lighter;
  }

  @media screen and (max-width: 640px) {
    height: 90px;
    line-height: 4px;
  }
}

#brand {
  padding: 6px;
  display: inline-block;
  line-height: 100%;
  font-size: 2.5em;

  #logo {
    width: 50px;
    float: left;
    padding: 0px 8px;
  }
  a {
    position: relative;
    top: 6px;
    color: #fff;
    font-variant: small-caps;
  }
}

#URLS {
  position: relative;
  display: inline-block;
  font-size: 20px;
  top: 6px;

  @media screen and (max-width: 640px) {
    top: 6px;
    margin-left: 60px;
  }

  a {
    border-radius: 3px;
    padding: 10px 15px;
    color: #fff;
  }
  a:hover {
    background-color: $accent-color
  }
}

.login {
  line-height: 4.6em;
  font-size: 1em;
  margin-right: 20px;
}

.userfunc {
  line-height: 3em;
  margin-right: 30px;
  color: #333;
  font-size: 23px;

  a {
    border-radius: 3px;
    padding: 10px 15px;
    color: #fff;
  }
  a:hover {
    color: #fff;
    background-color: $accent-color
  }

  @media screen and (max-width: 640px) {
    font-size: 18px;
    position: absolute;
    right: -10px;
    top: 0px;
    a {
      padding: 0;
    }
  }
}
