// Dashboard Card CSS
@import 'vars';

.card {


  position: relative;
  background: white;
  margin: 2em 1.2em;
  width: 15em;
  height: 20em;
  transition: 200ms ease-in-out;
  box-shadow: 0px 3px 10px #bbb;

  a {
    color: #333
  }
  .plant-header {
    background: $accent-color;
    padding: 0em;
    display: flex;
    align-content: flex-start;

    .plant-image {
      margin: 0.7em;
      height: 50px;
    }

    .plant-head {
      margin: 10px 2px;
      flex-wrap: wrap;

      .plant-nickname {
        font-size: 1.2em;
        font-weight: 600;
        color: #fff;
      }

      .plant-common {
        color: #fff;
      }
    }
  }
  .plant-content {
    margin: 1em;

    .card-info{
      font-weight: 600;
    }
  }
  .card-button {
    width: inherit;
    position: absolute;
    bottom: 0;
    margin: 0;
    color: white;
    background-color: #5c91d0;
    border: none;
    border-radius: 0;
  }
  .card-button:hover {
    color: $accent-color;
  }
  .card-button:focus {
    color: white;
  }
}
.card:hover {
  transform: translateY(-3px);
  box-shadow: 0px 5px 13px #888;
  cursor: pointer;
  text-decoration: none;
}
