// Dashboard Card CSS
@import 'vars';

.card {
  position: relative;
  background: white;
  margin: 2em 1.4em;
  width: 16em;
  height: 22em;
  transition: 200ms ease-in-out;
  box-shadow: 0px 3px 10px #bbb;
  border-radius: 5px;
  overflow: hidden;

  @media screen and (max-width: 640px) {
    width: 100%;
  }

  a {
    color: #333;
    height: 100%;
    display: block;
  }

  .plant-header {
    background: $accent-color;
    padding: 0em;
    display: flex;
    align-content: flex-start;

    .plant-image {
      margin: 0.7em;
      height: 50px;
    }

    .plant-head {
      margin: 10px 0;
      padding-right: 1em;
      width: 100%;
      flex-wrap: wrap;

      @media screen and (min-width: 640px) {
        min-height: 4em;
      }

      .plant-nickname {
        font-size: 1.2em;
        line-height: 1.2em;
        font-weight: 600;
        color: #fff;
      }

      .plant-common {
        color: #fff;
      }
    }
  }

  .plant-content {
    margin: 1em;

    h5 {
      line-height: 1em;
      margin-bottom: 0.5em;
    }

    .card-info {
      font-weight: 600;
      margin-top: 5px;
    }
  }

  .card-button {
    width: 100%;
    position: absolute;
    bottom: 0;
    margin: 0;
    color: white;
    background-color: #5c91d0;
    border: none;
    border-radius: 0;
  }

  .card-button:focus {
    color: white;
  }

  .card-button.card-button-good {
    background-color: #2a8bff;
  }

  .card-button.card-button-trouble {
    background-color: #f9d523;
  }

  .card-button.card-button-bad {
    background-color: #f33434;
  }

  .card-button.card-button-good:hover {
    background-color: rgba(#2a8bff, 0.8);
    color: #fff
  }

  .card-button.card-button-trouble:hover {
    background-color: rgba(#f9d523, 0.8);
    color: #fff
  }

  .card-button.card-button-bad:hover {
    background-color: rgba(#f33434, 0.8);
    color: #fff
  }
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0px 5px 13px #888;
  cursor: pointer;
  text-decoration: none;
}