// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'vars';

// React Dashboard CSS
// Cards have their own stylesheet in cards.scss
.dashboard {
  margin: 100px 0;
  margin-bottom: 10em;
  height: 100%;
  overflow: scroll;
  background-color: #f2f5f4;

  a {
    text-decoration: none;
  }

  .message0 {
    position: absolute;
    display: block;
    left: 4em;
    font-size: 2em;
    line-height: 3em;
    font-weight: 300;
  }

  .wrapper {
    margin: 0 5em;
    display: flex;
    justify-content: flex-start;
    align-content: space-around;
    flex-wrap: wrap;
    padding: 0;
  }

  #button-all {
    display: flex;
    position: fixed;
    justify-content: center;
    margin: auto;
    z-index: 998;
    height: 80px;
    top: $nav-height;
    left: 0;
    right: 0;
    background-color: white;
    box-shadow: 0px 1px 3px #9e9e9e;

    a {
      margin: 2em;
      width: 12em;
    }
    button {
      margin: 2em;
      width: 12em;
      background-color: #2a8bff;
    }
  }
}
