// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#dashboard {
  border: 1px solid #6da773;
  margin: 50px;
  height: 550px;
  overflow: scroll;
}
#wrapper {
  height: 150%;
}
.card {
  display: inline-block;
  background: #6da773;
  margin: 20px;
  padding: 5px;
  width: 20em;
  height: 15em;
}
.card:hover {
  opacity: 0.9;
}
