// Place all the styles related to the Plants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "vars";

// Plant Show ID page CSS
// Water Events
#water_historybox {
  float: left;
  padding: 20px 25px;
  color: #555;
  background-color: transparent;
  border-radius: 4px;
  margin-bottom: 50px;
  overflow-y: auto;

  #water_events {
    height: 20em;
    width: 100%;
    left: 0;
    font-size: 18px;

    a.button{
      color: red;
      background-color: #fff;
      height: 25px;
      width: 31px;
      padding: 0;
      margin-left: 10px;
      line-height: 22px;
      font-size: 15px;
      opacity: 0.73;
    }
  }
}

//Plants Index page

#action_buttons {
    input {
      color: #0076ff;
    }
}
  table {
  a.button {
    color: red;
    background-color: #fff;
    line-height: 34px;
    font-size: 20px;
    opacity: .6;
  }
    a.button:hover {
      color: red;
      background-color: #fff;
      opacity: 1
    }

}
//Plants New/edit
#plant_form_page {
  padding-top: .5em;

  a.button {
    float: right;
    margin-top: 2em;
  }

  label {
  font-weight: 300;
  font-size: 1.5em;
  }

  #plant_form {
    margin: 30px 100px;
    padding: 38px 0px;
    border-radius: 4px;
    box-shadow: 2px 3px 8px 1px #888888;

    .row {
      margin-top: 2em;
      margin-left: 10em;
    }
      .button {
      color: #ffffff;
      background-color: $primary-color;
      transition: 200ms ease-in-out;
      box-shadow: 0px 3px 10px #bbb;
      border: none;
      float: left;
      margin-top: 2em;

    }

    .button:hover {
      color: #ffffff;
      background-color: $accent-color;
      transform: translateY(-2px);
      box-shadow: 0px 5px 13px #888;

    }
  }

  #water_freq {
    #plant_water_freq {
    width: 60px;
    margin-left: 5px;
    margin-right: 5px;
    }
  }
}