@import 'vars';

#user-info {
  border: 1px solid #aaa;
  width: 50%;
  padding: 15px;
  border-radius: 5px;
}

.user {
  input {
    display: block;
    width: 100%;
  }

  label {
    display: inline-block;
  }

  i {
    font-size: 0.9em;
  }
}

#forgot-password {
  .button {
    background: $primary-color;
  }
}

#edit-user {
  #action-buttons .button {
    display: inline-block;
    width: 12em;
  }

  #action-buttons {
    .back {
      background: #eee;
      color: #333;
    }
  }
}