// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "vars";

#center {
  display: block;
  top: 25%;
  width: 100%;
  position: absolute;
}
#logo {
  text-align: center;
  color: $primary-color;
  font-size: 500%;
}
#sign-up {
  float: right;
}
