// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "vars";

.welcome {
  margin-top: 6em;
  background-image: url(/splash.jpg);
  background-size: cover;
  background-position: 45% 45%;
  background-repeat: no-repeat;
  color: #333;

  @media screen and (max-width: 640px) {
    margin: 0;
  }
}

.main-container {
  // margin-top: 3em;

  input.button {
    color: #ffffff;
    opacity: 0.7;
    background-color: $primary-color;
  }

  input.button:hover {
    color: #ffffff;
    opacity: 0.87;
    background-color: $primary-color;
  }

  .landing-header {
    font-size: 2.2em;
    font-weight: 200;
  }

  #landing-summary {
    margin-top: 1em;
    margin-left: 2em;
    @media screen and (max-width: 640px) {
      margin: 10px;
    }
  }

  #landing-welcome {
  }

  p {
    margin-top: 0.5em;
    margin-bottom: 0;
    font-size: 1.3em;
    font-weight: 200;
  }

  h6 {
    font-style: italic;
  }

  #signup-usermsg {
    border-radius: 13px;
    padding: 16px;
    width: 100%;
    box-shadow: 1px 2px 7px 0px #555;
    background-color: rgba(#f5f5f5,.74);
    margin-bottom: 20em;
    margin-left: 8em;

    @media screen and (max-width: 640px) {
      margin: 0;
      margin-bottom: 1.5em;
      width: 90%;
    }
  }

}
