<div class="plantlog__box">
  <div class="row">
    <span><%= plantlog.title %></span>
    <time><%= plantlog.logtime %></time>
  </div>
  <div class="row">
    <div id="plantlog__text">
      <p><%= plantlog.logtext %></p>
    </div>
    <%= link_to fa_icon('trash'), [plantlog.plant, plantlog],
        class: 'button', method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</div>
